
body{
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #FFFDD0;
    
}

.grid-container{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    border: 1px solid #005459;

}

.grid-item{
    border: 1px solid#005459;
    box-sizing: border-box;

}

.grid-item:hover{
    background-color: #005459;
}

