
body{
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.grid-container{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    border: 2px solid black;
}

